<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://watchfunctions20200310.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/187d8bfe-f6b8-4b76-9f01-530b57ae5e20/resourceGroups/learn-aea3ac2b-0919-4451-bb94-c7cf6e94982f/providers/Microsoft.Web/sites/watchfunctions20200310</ResourceId>
    <UserName>$watchfunctions20200310</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://watchfunctions20200310.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>